body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 3rem;
}

#map {
  width: 80%;
  height: 400px;
  margin: 20px 0px;
}
